 <tr>
      <td class="project-status">
             <span class="label label-primary">进行中</span>
      </td>
      <td class="project-title">
              <%= link_to task.theme,tasks_detail_path(taskid: task.id)%>
              <br/>
                <small>创建时间 <%= time_ago_in_words(task.created_at)%></small>
      </td>
      <td class>
        <div class=" forum-info">
          <span class="views-number">已报名</span>
          <div>
            <small>26</small>
          </div>
        </div>
      </td>
      <td class>
        <div class="forum-info">
          <span class="views-number">浏览 </span>
          <div>
            <small>234</small>
          </div>
        </div>
      </td>
      <td class>
        <div class="forum-info">
          <span class="views-number">创建者 </span>
          <div>
            <small><%= task.user.name%></small>
          </div>
        </div>
      </td>
      <td class="project-actions">
        <i class="fa fa-folder"></i><%=link_to '查看',tasks_detail_path(taskid:task.id),class: "btn btn-white btn-sm" %>
      </td>
 </tr>

