<h1>Tasks#show</h1>
<h1>课题招募</h1>
<p>Find me in app/views/tasks/detail.html.erb</p>
<div style="width:60%;height:1000px;margin-left:20%;margin-right:20%;background-color:#BC8F8F;">
<div style="width:50%;margin-left:25%;height:800px;background-color:#DAA520;text-align: center;">
  <table style="margin:0 auto">
    <tr>
      <th><h2>关于XXXX比赛的队员招募</h2></th>
    </tr>
    <tr>
      <td>发布人：X同学</td>
    </tr>
    <tr>
      <td>成都计算应用研究所</td>
    </tr>
    <tr>
      <td>
        <p>比赛介绍</p>
        <p style=" text-indent:2em">行走在黄昏的雨中，盈一袖飕飕的凉意，然后扯起丝巾，将衣领竖起。
        白色的油纸伞在雨中盛开，如一朵安静的白莲。这时，有人踏着单车，悠悠地穿过小巷。
        随身听里传出林俊杰的《江南》，洒落一地。
        蓝色的雨披，在这样的黄昏，有一种莫名的忧伤。眼前的世界忽然褪去颜色，只剩黑白，歌声中，有一枚金色的叶子悠然而下，
        带着诗人的落寞，和旅人的孤寂，有一种对家的依恋和低低的叹息。在这幽静的小巷，
        独自看秋雨把铅华洗净，绵绵的雨，游离在无边无际的梦境之外。</p></td>
    </tr>
    <tr>
      <td>
        <p>招募要求</p>
        <p style=" text-indent:2em">“ 海鸥最重情义，心细着呢。前年有一只海鸥，飞离昆明前一天，连连在我帽子上歇落了五次，我以为它是跟我闹着玩，
          后来才晓得它是跟我告别。它去年没有来，今年也没有来……海鸥是吉祥鸟、幸福鸟！古人说‘白鸥飞处带诗来’，十多年前，海鸥一来，我就知道咱们的福气来了。
          你看它们那小模样！啧（zé）啧……”海鸥听见老人唤，马上飞了过来，把他团团围住，引得路人都驻足观看。
          没想到十多天后，忽然有人告诉我们：老人去世了。</p></td>
    </tr>
  </table>
  <div style="float:left;margin-left: 30%"><input type="button" value="我要报名"></div> <div style="float:left;margin-left: 20%"><input type="button" value="再逛逛"></div>
</div>

</div>