<h1>Tasks#show</h1>
<h1>课题招募</h1>
<p>Find me in app/views/tasks/detail.html.erb</p>
<!-- ###################################################################################################################################-->
<div class="row">
  <div class="col-sm-9">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="m-b-md">
                <a href="project_detail.html#" class="btn btn-white btn-xs pull-right">编辑项目</a>
                <h2>主题主题主题</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>状态：</dt>
                <dd><span class="label label-primary">进行中</span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <dl class="dl-horizontal">

                <dt>项目经理：</dt>
                <dd>Beaut-zihan</dd>
                <dt>消息：</dt>
                <dd>162</dd>
                <dt>客户：</dt>
                <dd><a href="project_detail.html#" class="text-navy"> 百度</a>
                </dd>
                <dt>版本：</dt>
                <dd>v1.4.2</dd>
              </dl>
            </div>
            <div class="col-sm-7" id="cluster_info">
              <dl class="dl-horizontal">

                <dt>最后更新：</dt>
                <dd>2014年 11月7日 22:03</dd>
                <dt>创建于：</dt>
                <dd>2014年 2月16日 03:01</dd>
                <dt>团队成员：</dt>
                <dd class="project-people">
                  <a href="project_detail.html">
                    <img alt="image" class="img-circle" src="img/a3.jpg">
                  </a>
                  <a href="project_detail.html">
                    <img alt="image" class="img-circle" src="img/a1.jpg">
                  </a>
                  <a href="project_detail.html">
                    <img alt="image" class="img-circle" src="img/a2.jpg">
                  </a>
                  <a href="project_detail.html">
                    <img alt="image" class="img-circle" src="img/a4.jpg">
                  </a>
                  <a href="project_detail.html">
                    <img alt="image" class="img-circle" src="img/a5.jpg">
                  </a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <dl class="dl-horizontal">
                <dt>当前进度</dt>
                <dd>
                  <div class="progress progress-striped active m-b-sm">
                    <div style="width: 60%;" class="progress-bar"></div>
                  </div>
                  <small>当前已完成项目总进度的 <strong>60%</strong></small>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row m-t-sm">
            <div class="col-sm-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li><a href="project_detail.html#tab-1" data-toggle="tab">招募详情</a>
                      </li>
                      <li class=""><a href="project_detail.html#tab-2" data-toggle="tab">已招募到的人</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">

                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-1">
                      <div class="feed-activity-list">
                        <div class="feed-element">
                          <a href="profile.html#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a1.jpg">
                          </a>
                          <div class="media-body ">
                            <small class="pull-right text-navy">1天前</small>
                            <strong>奔波儿灞</strong> 关注了 <strong>灞波儿奔</strong>.
                            <br>
                            <small class="text-muted">54分钟前 来自 皮皮时光机</small>
                            <div class="actions">
                              <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                              <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> 收藏</a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
