<% if logged_in? %>
    <div class="row">
      <div class="col-sm-8 ">
        <div class="ibox float-e-margins">

        <div class="ibox-content">
          <div class="alert alert-success col-sm-8 col-sm-offset-2" style="text-align: center">
            <h1>课题招募</h1>
          </div>
        </div>
          <div class="ibox-content">
          <%=render 'shared/task_form' %>
          </div>
        </div>
      </div>
    </div>

  <%else%>
  <div class="center jumborton">
    <h1>哈哈哈哈哈哈哈</h1>
  </div>
  <%end %>



