
    <div class="col-sm-8">

      <div class="ibox">

        <div class="ibox-title">
          <h5>所有项目</h5>
          <div class="ibox-tools">
            <%= link_to "创建新项目",tasks_edit_path,class: 'btn btn-primary btn-xs'%>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row m-b-sm m-t-sm">
            <div class="col-md-11">
              <div class="input-group">
                <input type="text" placeholder="请输入项目名称" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
              </div>
            </div>
          </div>

          <div class="project-list">

            <table class="table table-hover">
              <tbody>
              <% if @user.tasks.any? %>
                <h3>招募(<%=@user.tasks.count %></h3>
                <%=render @tasks %>
                </tbody>
                </table>
                </div>
                </div>
                <div style="width:100%;text-align: center">
                  <%= will_paginate @tasks %>
                </div>
                </div>
                </div>
              <%end %>
              <!-- 该页面的刷新和动画js-->
