<div class="col-sm-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>基本表单 <small>简单登录表单示例</small></h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="form_basic.html#">选项1</a>
          </li>
          <li><a href="form_basic.html#">选项2</a>
          </li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <form role="form" action="/submit" method="post">
            <div class="form-group">
              <label>用户名</label>
              <input type="email" name="email" placeholder="请输入您注册的E-mail" class="form-control">
            </div>
            <div class="form-group">
              <label>密码</label>
              <input type="password" name="pwd" placeholder="请输入密码" class="form-control">
            </div>
            <div>
              <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>登 录</strong>
              </button>
              <label>
                <input type="checkbox" class="i-checks">自动登录</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>